#root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0;
  display: grid;
  grid-template: 80px auto / auto;
  grid-template-areas: 
    "navigation-bar"
    "main-container";

}

.homePage{
  display: grid;
  justify-content: center;
}

.homePageContent{
  width: 70%;
  margin: 10% auto;
  text-align: center;
}


.navigationBar{
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  grid-area: navigation-bar;
  /* background-color: rgb(39, 76, 241); */
  background-image: linear-gradient(490deg, #16753d, #090909);
}


.logo{
  margin: auto auto auto 3%;
  color: white;
}


ul {
  list-style-type: none;
  display: flex;
  gap: 20%;
  padding-right: 5%;
}

li {
  flex: 1 1 auto;
}

a {
  color: gray;
  text-decoration-line: none;
}

a:active {
  color: gray;
}

a:hover {
  color: white;
}


.main-container{
  display: grid;
  grid-area: main-container;
  padding: 40px;
}


.productTile{
  display: grid;
  justify-content: start;
  /* grid-template: repeat(4, 1fr) / 1fr 1f r 1fr; */
  grid-template: 35% 25% 15% / 1fr 1fr 1fr;
  grid-template-areas: 
    "productImage productTitle productTitle"
    /* "productImage productDescription productDescription" */
    "productImage productPrice productPrice"
    "productImage quantityButton addProductButton";
  /* border: 1px solid gray; */ 
  /* border-radius: 20px; */
  padding: 25px 0px;
  /* max-width: 300px; */
  border-bottom: solid 2px rgb(225, 225, 225);
}

.productTitle{
  /* text-align: center; */
  grid-area: productTitle;
}

.productDescription{
  grid-area: productDescription;
}

.productImage{
  object-fit: contain;
  width: 200px;
  grid-area: productImage;

}

img{
  margin: auto;
}


.productPrice{
  /* text-align: center; */
  grid-area: productPrice;

  
}
.addProductButton{
  grid-area: addProductButton;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: solid 1px gray;
  margin: 0 0 0 -50%;
}

.tile-bundle {
  display: grid;
  justify-content: center;
  /* grid-template: 1fr / repeat(5, 1fr); */
  grid-template: repeat(auto, 1fr) / 1fr;
  gap: 40px;
}

.quantityButton{
  display: grid;
  grid-template: 40px / 40px 80px 40px;
  /* margin: 3px auto 10px; */
  grid-area: quantityButton;
}

.quantity{
  font-size: 14px;
  text-align: center;
  margin: auto 0;
  border: none;
}